S3_BUCKET=local-upload-test
S3_REGION=us-east-1
S3_ACCESS_KEY=change-me
S3_SECRET_KEY=change-me
# How the API reaches storage
S3_INTERNAL_ENDPOINT=http://rustfs:9000
# How clients open image links (view URLs are signed for this address)
S3_PUBLIC_ENDPOINT=http://192.168.1.35:9000
